@import "../../styles/colors";
@import "../../styles/font-rules";

.welcome-page {
  box-sizing: border-box;
  font-family: sans-serif;

  .welcome-section {
    box-sizing: border-box;
  }


  h1, h2 {
    color: $color-font-white;

    @media (max-width: 920px) {
      text-align: center;
    }
  }

  h1 {
    padding: 0 0 14px 80px;
    font-size: 64px;
  }

  h2 {
    padding: 0 0 28px 80px;
    font-size: 36px;
  }

  .welcome-header {
    min-height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    background: url("../../assets/images/welcome-header.jpg") no-repeat center center/cover;

    @media (max-width: 920px) {
      box-shadow: 0 10px 10px rgba(125,125,125,.3);
    }
   //
  }

  .welcome-double-flex {
    min-height: 300px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
  }

  .welcome-double-flex-left, .welcome-double-flex-right {
    box-sizing: border-box;
    padding: 48px;
    flex: 1 1 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0,0,0,.2);
    box-shadow: inset 0 10px 5px rgba(125,125,125,.3);

    &.active {
      background-color: $color-bg-white;
      transition: background-color 400ms;
    }

    @media (max-width: 920px) {
      flex: 1 1 100%;
      box-shadow: 0 10px 5px rgba(125,125,125,.3);
    }
  }

  .welcome-double-flex-left {
    &.active {
      box-shadow: inset 0 10px 5px rgba(125,125,125,.3), 5px 0px 5px rgba(125,125,125,.3);
      @media (max-width: 920px) {
        box-shadow: inset 0 10px 5px rgba(125,125,125,.3), 0 10px 5px rgba(125,125,125,.3);
      }
    }
  }

  .welcome-double-flex-right {
    &.active {
      box-shadow: inset 0 10px 5px rgba(125,125,125,.3), -5px 0px 5px rgba(125,125,125,.3);
      @media (max-width: 920px) {
        box-shadow: 0 -10px 5px rgba(125,125,125,.3);
      }
    }

  }

  .weelman, .weelman-helper {
    width: 260px;
    height: 260px;
    margin-bottom: 39px;
    background: url("../../assets/images/weelman.svg") no-repeat center/contain;
  }

  .weelman {
    &.active {
      background-image: url("../../assets/images/weelman-active.svg");
      transition: all 400ms;
    }
  }

  .weelman-helper {
    &.active {
      background-image: url("../../assets/images/weelman-helper.svg");
      transition: all 400ms;
    }
  }

  .welcome-title {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
  }

  .button-one {
    opacity: 0;

    &.active {
      opacity: 1;
      transition: opacity 400ms;
    }
  }
}
