@import "../../styles/colors";
@import "../../styles/font-rules";

.welcome-page {
  font-family: sans-serif;

  h1, h2 {
    color: $color-font-white;
  }

  h1 {
    padding: 348px 0 0 80px;
    font-size: 64px;
  }

  h2 {
    padding: 14px 0 0 80px;
    font-size: 36px;
  }

  .welcome-header {
    height: 512px;
    background: url("../../assets/images/welcome-header.jpg") no-repeat center center/cover;
  }

  .welcome-double-flex {
    display: flex;
    flex-flow: row nowrap;
  }

  .welcome-double-flex-left, .welcome-double-flex-right {
    min-height: 512px;
    padding-top: 48px;
    flex: 1 1 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0,0,0,.2);
  }

  .welcome-double-flex-left {

  }

  .welcome-double-flex-right {

  }

  .weelman, .weelman-helper {
    width: 218px;
    height: 260px;
    margin-bottom: 39px;
    background: url("../../assets/images/weelman.svg") no-repeat center/cover;
  }

  .weelman {

    &.active {

    }
    &:hover {
      background-image: url("../../assets/images/weelman-active.svg");
      transition: all 300ms;
    }
  }

  .weelman-helper {
    &:hover {
      background-image: url("../../assets/images/weelman-helper.svg");
      transition: all 300ms;
    }
  }

  .welcome-title {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
  }

  .button-one {

  }
}
