.welcome-page
  header.welcome-header(ref="welcome_header")
    h1 Название сервиса
    h2 Мы помогаем тем, кому нужна помощь, и тем, кто хочет помочь.
  section.welcome-section
    .welcome-double-flex(
    v-bind:style="{height: getContentHeight}"
    )
      .welcome-double-flex-left(
      v-on:mouseover="hover('left')"
      v-on:mouseleave="blur('left')"
      )
        .weelman
        .welcome-title Мне нужна помощь
        .button-one Продолжить
      .welcome-double-flex-right(
      v-on:mouseover="hover('right')"
      v-on:mouseleave="blur('right')"
      )
        .weelman-helper
        .welcome-title я хочу помочь
        .button-one Продолжить
