.welcome-page
  header.welcome-header
    h1 Название сервиса
    h2 Мы помогаем тем, кому нужна помощь, и тем, кто хочет помочь.
  section.welcome-section
    .welcome-double-felx
      .welcome-double-felx-left
      .welcome-double-felx-right
